
.header_content{
  display:flex;
  position: relative;

  .logo_wrapper{
    padding-right: 15px;
  }
  .right_panel{
    flex: 1;
    .user_menu{
      display: flex;
      justify-content: flex-end;
      
    }
  }
  .langSwitcher{
    position: absolute;
    right: 0px;
    bottom: -65px; 
    z-index: 50;
  }
}

.button_menu{
  padding-left: 40px;
  transition-duration: .5s;
  color: darken(#fff, 35%);
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}