@import '../../assets/fonts.scss';
@import '../../assets/color.scss';

body {
  color: $color-black;
  background-color: $color-white;
}

.lang_en {
  font-family: $font-family-en-default;
}

.lang_th {
  font-family: $font-family-th;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container_vert_pad_default{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header_wrapper{
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 20px;
}