@import '../../assets/color.scss';

.avatarCard{
  border-radius: 3px;
}

.cardCover{
  position: relative;

  .cover_img{
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .img{
      object-fit: cover;
      height: 220px;
      width: 100%;
      background: #fff1eb;
    }
  }
  

  .gender{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
    padding: 2px 7px;
    background: linear-gradient(to bottom, #12121200 0%, #0000006b 100%);

    .gendertext{
       color: #fff;
       font-size: 12px;
       text-shadow: 0px 1px 2px #000000a1;
    }
  }

  .isVerified{
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 99;
    margin-left: -10px;
    padding: 0px 5px;
    background: #24b535; //#24b535 //#43c753
    border-radius: 3px;

    .isVerified_text{
      color: #fff;
      font-size: 12px;
      text-shadow: 0px 1px 2px #000000a1;
    }
  }
}



.cardBody{

  .cardTitle{
    line-height: 25px;
    vertical-align: bottom;
    margin-top: 4px;

    a.name{
      // not working as intended: text is still overflowable
      width: 100px;
      text-overflow: clip;
      font-size: 18px;
      font-weight: 400;
    }

  }

  .cardMetaDescCover{
    margin-top: 0px;

    .price_text{
      font-weight: 700;
      font-size: 17px;
      vertical-align: middle;
      color: #333;
    }

    .zoneIcon{
      display: inline-block;
      margin-left: 5px;
      height: 20px;
      vertical-align: top;
    }
    span{
      color: rgba(0,0,0,.75);
    }
  }

  .detailArea{
    span{
      background: $color-primary;
      padding: 3px 7px;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      margin: 0px 4px 5px 0;
      font-size: 12px;
    }
  }

  .cardItemContent {
    display: flex;
    height: 20px;
    margin-top: 3px;
    margin-bottom: -4px;
    line-height: 20px;
  
    & > span {
      flex: 1;
      font-size: 13px;
      
      color: rgba(0,0,0,.55);
    }
  }
}



