@import '../../assets/fonts.scss';

.introducer_height{
  width: 100%;
  background: #001529;
}
.introducer_container{
  position: relative;
  min-height: 350px;
  display: flex;
  align-items: center;

  .text_introducer_container{
    padding-bottom: 20px;
    
    .lang_en{
      font-family: $font-family-en-default;
    }
    .lang_th{
      font-family: $font-family-th;
    }

    .main{
      // margin: 0 auto;
      // text-align: center;
      max-width: 700px;
      height: 220px;

      .introduceTitle{
        font-size: 55px;
        font-weight: 500;
        color: rgba(255,255,255,1);
      }

      .introduceDescription{
        color: #ded8d5;
        margin-top: 0.27em;
        font-size: 20px;
        font-weight: normal;
      }

      .introduceButton{
        margin-top: 50px;
        
        font-size: 15px;
      }
    }
  }

  .zoneOption_wrapper{

    .zoneOption_header{
      
      
    }
  }
}

.zoneCard{
  background: #fff !important;

  &:hover{
    background: #ffa38e !important;
  }
}


// .introduceTitle {
//   animation: head 1.3s 1;
//   @keyframes head {
//     0%, 20% {
//       opacity: 0;
//       transform: translate(0%, 20px);
//       letter-spacing: 10px;
//     }
//     75% {
//       opacity: 1;
//       transform: translate(0%, 20px);
//     }
//   }
// }
// .introduceDescription {
//   animation: campaignText 1.3s 1;
//   @keyframes campaignText {
//     0% {
//       opacity: 0;
//       margin-top: -20px;
//     }
//     75% {
//       opacity: 0;
//       margin-top: -20px;
//     }
//   }
// }
// .introduceButton{
//   animation: buttonSet 1.3s 1;
//   @keyframes buttonSet {
//     0%, 30% {
//       opacity: 0;
//       left: 40px;
//     }
//     100% {
//       opacity: 1;
//       left: 0px;
//     }
//   }
// }
