@import '../../assets/color.scss';
@import '../../assets/fonts.scss';

.langBar {
  padding-top: 1em;
  text-align: right;
  color: $color-black;
  float: right;

  .langSwitch {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    font-size: 16px;
  }
  
  .langSwitchEN {
    font-family: $font-family-en;
    @extend .langSwitch;
  }
  
  .langSwitchTH {
    font-family: $font-family-th;
    @extend .langSwitch;
  }
}

