@import '../../../assets/color.scss';

:global{
  .test{
    background: black;
  }
  .slick-prev{
    left: -35px !important;
  }
  .slick-next{
    right: -35px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #222 !important;
  }
}

.escortSug_wrapper{
  background: #f7f7f7;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;

  .sectionHeading{
    font-size: 27px;
    padding: 4px 25px;
    border-radius: 8px;
    color: #fff;
    background: $color-primary;

  }

  .recommendedCard{
    padding: 9px;
  }

}

